dash  # Dash framework for building interactive web applications  
pandas  # Data manipulation and analysis  
plotly  # Interactive visualizations (for creating charts, scatter plots, etc.)  
flask-caching
dash-mantine-components
dash-ag-grid
gunicorn
